[submodule "SuperPipeClient"]
	path = SuperPipeClient
	url = https://github.com/manuel09/SuperPipeClient.git
[submodule "SuperPipeExtractor"]
	path = SuperPipeExtractor
	url = https://github.com/manuel09/SuperPipeExtractor.git
